@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a40; 
  --foreground: #000000; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d26; 
    --foreground: #000000; 
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Georgia', serif; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
